h1{
    color: purple;
    border: 2px solid purple;
}
h4{
    background: #AAAAAA;
    color: purple,
}
li{
    color: orangered;
}
body{
    background: url("https://source.unsplash.com/1280x920/?food,travel");
    background-repeat: no-repeat;
    background-size: cover;
}