
body{
    /*background: url("https://source.unsplash.com/1280x920/?food,travel");
    background-repeat: no-repeat;
    background-size: cover;*/
}


#special{
    background-color: orange;
}

.highlights{
    background-color: yellow;
}