/* Element */
li{


}

/* Class */
.hello{


}
/* id */
#name{

}

/* Star It will select everything in the page*/ 
*{
    border: 1px solid lightgrey;
}
/* Descendant Selector 
        Takes two or more selectors
        E.g. Al the anchor tags inside a li tag*/ 
li a{
    color: red;
}

/* Adjacent Selector 
    It lets you select all the elements that are next to other element (in the same level)*/
h4 + ul{
    border: 4px solid red;
}

/* Attribute Selector 
    e.g. Select all the anchors that goes to google*/
a[href="http://www.google.com"]{
    background:orange;
}

/*nth of type 
 It takes a number, and select that number of element*/
 ul:nth-of-type(3){
     background: purple;
 }

 /* This, from every group of LI, is going to select the third one */ 
 li:nth-of-type(3){
    background: purple;
}

