/* If we set a property on the parent, it can also affect the child */
body{
    color:red;
}
p {
    color:green;
}
ul{
    color:blue;
}
li{
    color:orange;
}
.hightlight{
    color:yellow;
}
#special{
    color:pink;
}
/* Specificity is the idea that we can have multiple styles targeting one element 
    The more specific element wins
    
    http://specificity.keegan.st
    
    */

/* Order of magnitude
Type Selectors = 1
Class, speudo-classes, sttributes selectors = 10
Ids Selectors = 100
