/* font-family 
    It controls the font*/

p{
    font-family:"Arial";
}
/* font-size 
    It controls the font size*/ 

body{
    font-size: 10px;        
}    
h1{
    font-size: 70;
}
p{
    font-size: 16px;
}
span{
    font-size: 2.0em;
}
/* font-weight 
    Reffers how bold or lightweight the text is*/
p{
    font-weight: bold;
}

/* line- height 
    It controls the height of a given line
    The value its just a number that will multiply the font height*/
p{
    line-height: 2;
}

/* text-align 
    We move the text*/
h1{
    text-align: right;
}
p{
    text-align: center;
}
/* text-decoration */
p{
    text-decoration: underline line-through;
}