/* Margin 
 *  The space between the border and anything else
 */

 /* BORDER */

/* Padding
 *  Its the space inside the border. 
 *     e.g.: The space bettwen the border and the text
*/
 
/* ELEMENT */

p{
    
    width: 50%;
    border: 2px solid blue;
    padding-left: 10px;
    /*     TOP RIGHT BOTTOM LEFT */
    margin: 20px 40px 500px 100px;
        /*   0 auto 0 auto = 0 auto */
    /* con 4 parametros va como el reloj
     con dos parametros es "arriba y abajo" "izquierda y derecha"
     */
    
}