h1{
    text-align: center;
}

table{
    position: relative;
    /*margin auto */
    left: 50%;
    transform: translateX(-50%);
}

.horizontal{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.vertical{
    border-left: 1px solid black; 
    border-right: 1px solid black; 
}
td{
    width: 100px;
    height: 100px;
}