p{
    font-family: Raleway;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 3%;

    padding-bottom: 20px;
    border-bottom: 3px solid #f1f1f1;
    width: 30%;
}

img{
    width: 27%;
    float: left;
    margin: 3%;
    border: 1px solid rgb(75, 75, 75);
}