.frame{    
    margin: 20px auto;
    max-width: 700px;
    width: 80%;
    
    border: 20px solid #bdc3c7;
}

.article{
    font-family: "source sans pro";
    margin: 20px;


}
.article p:first-of-type{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}
.article .date{
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    
}
.article h2{
    font-variant: bold;
    color: #2c3e50;
    font-size: 2.0rem;
}
/* Gradient transparent - color - transparent */

hr.style-two {
    margin: 20px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
